/******************** HOME PAGE START ********************/
.home-page-wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 550px auto 800px 100px;
	grid-template-areas: 
	"navbar"
	"homebanner"
	"homedescription"
	"homesubdescriptions"
	"footer";
}

nav {
	grid-area: navbar;
	background: red;
}

.home-banner {
	grid-area: homebanner;
	background: orange;
}

.home-description-wrapper {
	display: grid;
	grid-area: homedescription;
	grid-template-columns: 90px auto 90px;
	grid-template-areas: 
	". homedescriptionlogo ."
	". homedescription .";
	background: yellow;
}

.home-description-logo-wrapper {
	grid-area: homedescriptionlogo;
}

.home-description {
	grid-area: homedescription;
}

.home-sub-descriptions-wrapper {
	grid-area: homesubdescriptions;
	background: green;
}

footer {
	grid-area: footer;
}
/******************** HOME PAGE END ********************/

/******************** STANDARD PAGE START ********************/
.standard-page-wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 550px auto 100px;
	grid-template-areas: 
	"navbar"
	"standardpagebanner"
	"standardpagesidebarcontent"
	"footer";
}

.standard-page-banner {
	grid-area: standardpagebanner;
	background: orange;
}

.standard-page-side-bar-content-wrapper {
	display: inline-grid;
	grid-area: standardpagesidebarcontent;
	grid-template-columns: 7.5% 20% 65% 7.5%;
	grid-template-areas: ". standardpagesidebar standardpagecontent .";
}

.standard-page-side-bar-wrapper {
	grid-area: standardpagesidebar;
	background: yellow;
}

.standard-page-content-wrapper {
	grid-area: standardpagecontent;
	background: green;
}
/******************** STANDARD PAGE END ********************/
