/******************** HOME PAGE START ********************/

.home-page-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 87px 550px auto 800px 100px;
    grid-template-areas: "navbar" "homebanner" "homedescription" "homesubdescriptions" "footer";
}

nav {
    grid-area: navbar;
    background: #0d1c38;
}

.nav-bar-main-menu .dropdown:nth-child(5) .dropdown-contentx {
    display: grid;
    grid-template-columns: auto auto;
}

.nav-first-col {
    grid-column-start: 1;
    display: inline-grid;
}

.nav-second-col {
    grid-column: 2;
    display: inline-grid;
}

.home-banner {
    grid-area: homebanner;
}

.home-description-wrapper {
    display: grid;
    grid-area: homedescription;
    grid-template-columns: 150px auto 150px;
    grid-template-areas: ". homedescriptionlogo ." ". yellowaccentline ." ". homedescription ." ". redfrequencyarea .";
}

.home-description-logo-wrapper {
    grid-area: homedescriptionlogo;
}

<<<<<<< HEAD
.yellow-accent-line {
    grid-area: yellowaccentline;
=======
.yellow-accent-line-center {
	grid-area: yellowaccentline;
>>>>>>> 31de88a6c78c398802a13626ac683fdc0f33ffc9
}

.home-description {
    grid-area: homedescription;
}

.home-red-frequency-wrapper {
    grid-area: redfrequencyarea;
}

.home-sub-descriptions-wrapper {
    grid-area: homesubdescriptions;
    background: green;
}

footer {
    grid-area: footer;
}


/******************** HOME PAGE END ********************/


/******************** STANDARD PAGE START ********************/

.standard-page-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 550px auto 100px;
    grid-template-areas: "navbar" "standardpagebanner" "standardpagesidebarcontent" "footer";
}

.standard-page-banner {
<<<<<<< HEAD
    grid-area: standardpagebanner;
=======
	 grid-area: standardpagebanner;
>>>>>>> d8462dbd1200e7c3e299228b8df7df0aeaece527
}

.standard-page-side-bar-content-wrapper {
    display: inline-grid;
    grid-area: standardpagesidebarcontent;
    grid-template-columns: 7.5% 20% 65% 7.5%;
    grid-template-areas: ". standardpagesidebar standardpagecontent .";
}

.standard-page-side-bar-wrapper {
    grid-area: standardpagesidebar;
}

.standard-page-content-wrapper {
    grid-area: standardpagecontent;
}
<<<<<<< HEAD


/******************** STANDARD PAGE END ********************/
=======
/******************** STANDARD PAGE END ********************/

/******************** NOTEBOOK PAGE START ********************/
.notebook-page-wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 550px auto 100px;
	grid-template-areas: 
	"navbar"
	"standardpagebanner"
	"notebookpagecontent"
	"footer";
}

.notebook-page-content-wrapper {
	display: inline-grid;
	grid-area: notebookpagecontent;
	/*grid-template-columns: 7.5% 85% 7.5%;*/
}
/******************** NOTEBOOK PAGE END ********************/
>>>>>>> 31de88a6c78c398802a13626ac683fdc0f33ffc9
