@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Raleway');

body {
	background: #0d1c38;
	margin: 0;
	padding: 0;
}

p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/******************** HOME PAGE START ********************/
/*** TODO: nav bar ***/

/*** TODO: home banner + animation ***/
.home-banner {
	border-top: 0.5px solid #c93843;
	border-bottom: 0.5px solid #c93843;
	position: relative;
}

.red-wave-animation {
	position: absolute;
  	width: 100%;
  	left: 0;
  	top: 23%;
}

.home-banner-wrapper {
	position: relative;
}

.home-banner-content-wrapper {
	position: absolute;
    left: 50%;
    top: 45%;
    -moz-transform: translateX(-50%) translateY(55%);
    -webkit-transform: translateX(-50%) translateY(55%);
    transform: translateX(-50%) translateY(55%);
    text-align: center;
    width: 95%;
}

.home-banner-logo {
	height: 120px;
}

.home-banner-caption {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
}

.home-banner-chevron-wrapper {
	margin-top: 80px;
}

/*** TODO: home description ***/
.home-description-logo {
	width: 35%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 35px;
}

.yellow-accent-line {
	border: #e8b023 solid 1px;
	display: block;
	margin: 0.5em auto 0.5em auto;
	width: 80px;
}

.home-description {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
}

#home-description-emphasis-words {
	color: #e8b023;
}

.home-red-frequency-wrapper {
	left: 18.5%;
	margin-top: 50px;
	position: relative;
}

.home-red-frequency {
	position: absolute;
	top: -20px;
}

.home-sub-descriptions-wrapper { /* This is margin around the home subdescriptions wrapper -- don't change! */
	margin: 75px 0;
}


/*** TODO: footer ***/
footer {
	padding: 35px;
	text-align: center;
	position: relative;
}

.footer-wrapper {
	margin: auto;
	display: inline-block;
}

.icon-wrapper {
	display: inline-block;
	position: relative;
	padding-right: 18px;
	border-right: 0.5px solid white;
}

.icon-wrapper-last {
	border-right: none;
}

.icon {
	margin: 16px;
}

.icon img {
	height: 24px;
}
/******************** HOME PAGE END ********************/

.home-sub-description {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 25px;
}

.home-sub-description-left {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 25px;
}


.home-sub-description-left-content > p {
	padding-top: 10px;
}

.home-sub-description-right {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 25px;
}

.home-sub-description-right-image > img {
	border-radius: 50%;
	width: 300px;
}

.home-sub-description-left-image > img {
	border-radius: 50%;
	width: 300px;
	text-align: center;
}

.sub-description-sub-heading {
	color: #fff;
	font-family: 'Merriweather';
	font-size: 28px;
	margin-bottom: 25px;
}


/******************** STANDARD PAGE START ********************/
/*** TODO: standard page banner + rhombus ***/

/*** TODO: side bar ***/
.standard-page-side-bar > li > a {
	text-decoration: none;
	color: #c93843;
	font-weight: bold;
}

.standard-page-side-bar {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: middle;
	margin: 0;
}

.standard-page-side-bar > li {
	margin-bottom: 15px;
}


/*** TODO: content ***/
/******************** STANDARD PAGE END ********************/
