@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Raleway');

body {
	background: #0d1c38;
	margin: 0;
	padding: 0;
}

p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/******************** HOME PAGE START ********************/
/*** TODO: nav bar ***/

/*** TODO: home banner + animation ***/

/*** TODO: home description ***/
.home-description-logo {
	width: 35%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 35px;
}

.yellow-accent-line {
	border: #e8b023 solid 1px;
	display: block;
	margin: 0.5em auto 0.5em auto;
	width: 80px;
}

.home-description {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
}

#home-description-emphasis-words {
	color: #e8b023;
}

.home-red-frequency-wrapper {
	left: 18.5%;
	margin-top: 50px;
	position: relative;
}

.home-red-frequency {
	position: absolute;
	top: -20px;
}

/*** TODO: footer ***/
/******************** HOME PAGE END ********************/

/******************** STANDARD PAGE START ********************/
/*** TODO: standard page banner + rhombus ***/

/*** TODO: side bar ***/

/*** TODO: content ***/
/******************** STANDARD PAGE END ********************/
